@import "../styles/mixins.scss";
@import "../styles/variables.scss";


.day {
  &__item {
    @include fade;

    color: #9baab9;
    height: 5rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      background-color: #ee5253;
      cursor: pointer;
      color: $dark-background;
      // padding-left: 2rem;
      margin-left: 1rem;
    }

    &--selected {
      background-color: darken($white, 5%);
      color: $dark-background;

      &:hover {
        background-color: darken($white, 5%);
      }
    }

    // &--full {
    //   opacity: $inactive-opacity;
    // }
  }
}