.task_input_field {
  margin-top: 168px;
  margin-left: 1rem;
  width: 55rem;
  outline: none;
}

.btn__primary {
  color: #fff;
  background-color: #000;
  margin-left: 1rem;
  border-radius: 3px;
  width: 55rem;
}