@import "~normalize.css/normalize.css";

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900");

@import "styles/variables";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

.layout {
  display: flex;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
